body {background-color: #f5f6f7;}
.all {
    margin: 0 auto; width: 760px;
}
/* header */
.all header {
}
.all header nav {}
.all header nav .language {
    text-align: right;
}
.all header nav .language fieldset {}
.all header nav .language fieldset legend {
    background-color: #fff;
}
.all header nav .language fieldset legend #lang {
    border: 1px solid #aaa; padding: 5px 10px;
}
.all header nav .language fieldset legend #lang option {}
.all header nav a {
    text-align: center;
    display: block;
    padding: 30px 0 40px;
}
.all header nav a img {
    width: 237px; height: 49px;
}
/* main */
main {
    width: 460px;
    margin: 0 auto;
}
/* footer */
.all footer {
    text-align: center;
    margin: 50px 0;
}
.all footer .top {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
/* 이용약관 선 */
.all footer .top p::after {
    content: ''; display: inline-block;
    width: 1px; height: 12px;
    background-color: #aaa;
    margin: 0 10px;
}
/* 마지막 선 지우기 */
.all footer .top p:last-child::after {
    display: none;
}
.all footer .top p {
    font-size: 0.75rem;
}
.all footer address {
    font-size: 0.75rem;
    margin-top:10px ;
}