.all {}
.all main {}
.all main .join {}
.all main .join .join_all {}
.all main .join .join_all fieldset {}
.all main .join .join_all fieldset dl {}
.all main .join .join_all fieldset dl dt {
    font-size: 0.875rem;
    font-weight: 600;
}
/* 이메일 선택 */
.all main .join .join_all fieldset dl dt span {
    font-size: 0.875rem;
}
.all main .join .join_all fieldset dl dd {
    background-color: #fff; border: 1px solid #eee;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; padding: 10px;
    margin: 10px 0 20px 0;
    width: 100%; height: 53px;
}
.all main .join .join_all fieldset dl dd input {
    width: 100%; height: 100%;
}
/* 아이디 */
.all main .join .join_all fieldset dl dd #user_id {}
.all main .join .join_all fieldset dl dd p {}
/* 비번 */
.all main .join .join_all fieldset dl dd #user_pw {}
/* 비번재확인 */
.all main .join .join_all fieldset dl dd #user_pw_chk {}
/* 이름 */
.all main .join .join_all fieldset dl dd #user_name {}
/* 생년월일 */
.all main .join .join_all fieldset dl dd:nth-of-type(5) {
    border: 0;
    background-color: #f5f6f7;;
    padding: 0;
}
/* 년 */
.all main .join .join_all fieldset dl dd:nth-of-type(5) #user_year {
    width: calc(100% / 3 - 30px / 3);
    border:1px solid #eee;
    padding: 10px;
    background-color: #fff;
}
/* 월 */
.all main .join .join_all fieldset dl dd:nth-of-type(5) select{
    border: 1px solid #eee;
    width: calc(100% / 3 - 30px / 3);
    padding: 10px;
    background-color: #fff;
}
.all main .join .join_all fieldset dl dd select .month {}
/* 일 */
.all main .join .join_all fieldset dl dd:nth-of-type(5) #user_day {
    width: calc(100% / 3 - 30px / 3);
    border: 1px solid #eee;
    padding: 10px;
    background-color: #fff;
}
/* 성별 */
.all main .join .join_all fieldset dl dd select .gender {
    width: 100%;
}
/* 본인확인 이메일 */
.all main .join .join_all fieldset dl dd #user_email {}
/* 휴데전화 나라번호 */
.all main .join .join_all fieldset dl dd:nth-of-type(8) {
    margin-bottom: 10px;
}
.all main .join .join_all fieldset dl dd:nth-of-type(8) select #number {}
/* 인증번호 전체 */
.all main .join .join_all fieldset dl dd:nth-last-of-type(2) {
    border: 0;
    background-color: #f5f6f7;;
    padding: 0; margin-bottom: 10px;
}
/* 인증번호 */
.all main .join .join_all fieldset dl dd #phone_number {
    background-color: #fff;
    width: 73%;
    padding: 10px;
}
/* 인증번호 버튼 */
.all main .join .join_all fieldset dl dd #certified_btn {
    background-color: #03c75a; color: #fff;
    height: 100%; padding: 0 20px;
    font-size: 0.75rem; font-weight: 400;
}
/* 인증번호  입력 */
.all main .join .join_all fieldset dl dd:last-of-type  {
    background-color:#eee;
    padding: 10px;
    border: 1px solid #aaa;
}
.all main .join .join_all fieldset dl dd #certified_input {}
/* 가입하기 */
.all main .join .join_all fieldset #join_btn {
    background-color: #03c75a;
    color: #fff;
    width: 100%; height: 70px;
    font-size: 1.2rem; font-weight: 600;
    margin-bottom: 10px;
}
/* 옵션 */
.all main .join .join_all fieldset dl dd select {
    width: 100%; height: 100%;
}