/* main */
.all main .login {}
/* 메인 전체 */
.all main .login .login_input {
    display: flex; flex-flow: column nowrap;
    width: 460px; margin: 0 auto;
}
/* 마지막 빼고 메인 */
.all main .login .login_input fieldset{
    border-bottom: 1px solid #aaa;
    padding-bottom: 30px;
}
/* 아이디 비번 */
.all main .login .login_input fieldset > input {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px 15px;
    margin-bottom: 10px;
    width: 100%;
}
/* 로그인 */
.all main .login .login_input fieldset > p {
    background-color:  #03c75a; color: #fff;
    text-align: center;
    padding: 20px 0; margin-bottom:10px ;
}
.all main .login .login_input fieldset .security {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
.all main .login .login_input fieldset .security label {}
.all main .login .login_input fieldset .security label input {
    appearance: none;
}
.all main .login .login_input fieldset .security label input .fa-check-circle {}
.all main .login .login_input fieldset .security label input:hover + .fa-check-circle {
    color: #03c75a;
}
.all main .login .login_input fieldset .security .right {
    display: flex; flex-flow: row nowrap;
}
.all main .login .login_input fieldset .security .right p {
    margin-right: 5px;
}
.all main .login .login_input fieldset .security .right p:last-child::before {
    content: ''; display: inline-block;
    width: 1px; height: 12px;
    background-color: #aaa;
    margin-right: 5px;
}
.all main .login .login_input fieldset .security .right p:last-child { 
    margin: 0;
    text-decoration:underline;
}

.all main .login .login_input fieldset .security .right p span {
    color: #03c75a; font-weight: 600;
}
.all main .login .login_input .last {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    margin: 20px 0 50px;
}
.all main .login .login_input .last p {
    border-right:1px solid #aaa;
    padding:0 10px ;
}
.all main .login .login_input .last a {}
.all main .login .login_input .last a p {}